body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e9ec;
    font-family: Arial;
}

.login-container {
    background-color: #b6bdc6;
    border: 1px solid #e6e9ec;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-container h1 {
    color: black;
    margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input [type="password"] {
    width: 90;
    padding: 5px;
    border: 1px solid #9ea9b4;
    border-radius: 4px;
}

.login-container button {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e6e9ec;
    border-radius: 5px;
    background-color: #9ea9b4;
    cursor: pointer;
    font-weight: bold;
}

.login-container button:hover {
    background-color: #b6bdc6;
}

.index.container {
    background-color: #e6e9ec;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.table.container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border: 1px solid #9ea9b4;
    border-radius: 5px;

}

.table.container button {
    padding: 8px 10px;
    background-color: #b6bdc6;
    border: 1px solid #e6e9ec;
    border-radius: 4px;
    cursor: pointer;
}

.login.container {
    background-color: #9ea9b4;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#titulo h1 {
    margin-top: 30px;
    font-size: 2em;
    color: #111;
}

#tabela table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

#tabela th,
#tabela td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#tabela th {
     background: #9ea9b4;
    font-family: arial;
    color: #111;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    margin: 10px;
    color: #111;
    text-decoration: none;
}

#indice {
    text-align: center;
    margin-top: 20px;
}

#indice ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    text-align: left;
}

#indice li {
    margin: 5px 0;
    color: #2c2c2c;
}

#indice h3 {
    margin-bottom: 10px;
    color: #2c2c2c;
}

#indice h4 {
    margin-bottom: 10px;
    color: #2c2c2c;
}

.lista-estilizada li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 16px;
}

.center-footer {
    display: flex;
    margin: 15px;
    left: 32%;
    align-items: center;
}

.center-footer .btn {
    display: inline-block;
    padding: 12px 20px;
    background: #9ea9b4;
    color: #111;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    margin: 0 15px;
    color: #111;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}