body {
    background-color: #ccc;
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #e6e9ec;
    border: 1px solid #111;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 20px;
    gap: 10px;
}

.container h1 {
    color: black;
    margin-bottom: 20px;
}

.container button {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #111;
    border-radius: 5px;
    background-color: #b6bdc6;
    cursor: pointer;
    font-weight: bold;
}

.container button:hover {
    background-color: #9ea9b4;
}

.container-busca {
    width: 210px;
    margin: 0% auto;
}

.campo-busca,
.botao-busca{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    line-height: 1.0;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.botao-calcular{
    margin-top: 20px;
    width: 100px;
    height: 30px;
}

.login-container {
    background-color: #b6bdc6;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 5px 10px #9ea9b4;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #b6bdc6;
}
.login-container input[type="email"],
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 80%;
  padding: 15px;
  margin-top: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container h1 {
    font-size: 20px;
}

.login-container button{
    width: 70%;
    padding: 10px;
    margin-top: 6px;
    background-color: #9ea9b4;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    justify-items: center;
}
.login-container .btn-secondary {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    background-color: #9ea9b4;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    justify-items: center;
}

.login-container .btn-secondary:hover,
.login-container button:hover {
    background-color: #e6e9ec;
}

#titulo h1 {
    margin-top: 30px;
    font-size: 2em;
    color: #111;
}

#tabela table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    margin: 10px;
    color: #111;
    text-decoration: none;
}

#indice {
    text-align: center;
    margin-top: 20px;
}
.center-footer {
    display: flex;
    margin: 15px;
    left: 35%;
    align-items: center;
}

.center-footer .btn {
    display: inline-block;
    padding: 12px 20px;
    background: #9ea9b4;
    color: #111;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s ease;
    box-shadow: 0 4px 10px #9ea9b4(0, 0, 0, 0.2);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    margin: 0 15px;
    color: #111;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

#container {
    background-color: #e6e9ec;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #111;
    box-shadow: 0 2px 10px #9ea9b4(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ccc;
}

th, td{
    padding: 12px;
    border: 1px solid #9ea9b4;
    text-align: center;
}

th {
    background-color: #9ea9b4;
    color: #111;
}

h1, h3, h4 {
    text-align: center;
    margin: 20px 0 10px 0;
}

ul.lista-estilizada {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 10px 0 20px;
}

ul.lista-estilizada li {
    margin: 5px 0;
}

.center-footer {
    text-align: center;
    margin-top: 25px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    background-color: #b6bdc6;
    color: #111;
    text-decoration: none;
    border-radius: 8px;
}